@import 'lib/reset';
@import 'lib/variables';
@import 'lib/mixins';
@import 'lib/font-awesome/scss/font-awesome';


body{
  font-family: 'Microsoft JhengHei','Roboto', 'sans-serif';
  overflow: initial !important;
  background-color: #000;
}

.section-master{
  background-color: #fff;
  position: relative;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  overflow: hidden;
  .master-block{
    position: relative;
    height: calc( 100vh - 80px );
    height: calc(var(--vh, 1vh) * 100 - 80px);
    .canvas-editor{
      width: 600px;
      height: 600px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 5;
    }
  }
  .master-tool{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    z-index: 10;
    padding: 10px 20px;
    .tool-button{
      width: 60px;
      height: 60px;
      border-radius: 4px;
      border: 2px solid #000;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      i{
        display: inline-block;
        font-size: 30px;
      }
    }
  }
  .control-nav-tool{
    .prev,
    .next{
      position: fixed; 
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
      width: 50px;
      background-color: #f00;
      top: 0;
      z-index: 20;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .prev{
      left: 0;
    }
    .next{
      right: 0;
    }
  }
}

.tooltip-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
}