@import 'lib/reset';
@import 'lib/variables';
@import 'lib/mixins';
@import 'lib/font-awesome/scss/font-awesome';


body{
  font-family: 'Microsoft JhengHei','Roboto', 'sans-serif';
  overflow: initial !important;
  background-color: #000;
}
.section-master{
  background-color: #fff;
  position: relative;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  overflow: hidden;
  .master-block{
    background-color: #000;
    position: relative;
    height: calc( 100vh - 80px );
    height: calc(var(--vh, 1vh) * 100 - 80px);
    .canvas-editor,
    .canvas-container{
      width: 600px;
      height: 600px;
      position: absolute !important;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 5;
    }
  }
  .master-tool{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    z-index: 10;
    padding: 10px 20px;
    background-color: #666;
    .tool-button{
      width: 100px;
      height: 60px;
      border-radius: 4px;
      border: 3px solid transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      display: flex;
      flex-wrap: wrap;
      color: #fff;
      margin: 0 3px;
      background-color: #333;
      i{
        display: inline-block;
        font-size: 26px;
      }
      div{
        width: 100%;
        text-align: center;
        font-size: 14px;
      }
      &.active{
        border-color: #fff;
      }
    }
  }
  .control-nav-tool{
    position: fixed; 
    height: 30px;
    bottom: 90px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 20;
    display: flex;
    flex-wrap: nowrap;
    .prev,
    .next{
      height: 100%;
      width: 35px;
      background-color: rgba(255,255,255,0.85);
      z-index: 20;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
      border-radius: 5px;
    }
    .prev{
      left: 0;
    }
    .next{
      right: 0;
    }
    .page{
      width: 30px;
      height: 100%;
      background-color:rgba(255,255,255,0.85);
      font-size: 19px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 7px;
      font-weight: bolder;
      box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
      border-radius: 5px;
    }
  }
  .video-list{
    z-index: 50;
    position: fixed;
    bottom: 90px;
    right: 20px;
    background-color: rgba(45, 45, 45, .85);
    padding: 5px 5px;
    border-radius: 6px;
    display: none;
    .list-title{
      @include unselect;
      color: #fff;
      padding: 5px 10px;
      cursor: pointer;
      font-size: 17px;
    }
    .list-content{
      display: none;
      padding: 5px 0 10px;
      position: relative;
      &.active{
        display: block;
      }
      &:after{
        content:"";
        position: absolute;
        width: 100%;
        width: calc( 100% - 20px);
        height: 1px;
        border-bottom: 1px solid #fff;
        left: 50%;
        bottom: 5px;
        transform: translate(-50%, 0);
      }
      .list-item{
        @include unselect;
        padding: 5px 10px;
        color: #00b1e1;
        cursor: pointer;
        text-decoration: underline;
        &:hover{
          opacity: 0.9;
        }
      }
    }
  }
}
.popup-modal-section{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: rgba(0,0,0,0.2);
  display: none;
  &.active{
    display: block;
  }
  .popup-modal-card{
    width: 600px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    overflow: hidden;
    background-color: #191919;
    .card-header{
      background-color: #555;
      width: 100%;
      padding: 16px 30px;
      color: #fff;
      font-size: 24px;
      font-weight: 800;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      .btn-card-close{
        width: 40px;
        height: 40px;
        cursor: pointer;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .card-content{
      padding: 20px 30px;
      display: flex;
      flex-wrap: nowrap;
      .color-content{
        display: grid;
        grid-template-columns: repeat(4,45px);
        grid-gap: 12px;
        .d-color{
          width: 45px;
          height: 45px;
          border: 3px solid #252525;
          cursor: pointer;
          border-radius: 5px;
          &.active{
           border-color: #fff; 
          }
        }
      }
      .catalog-content{
        width: 100%;
        display: grid;
        // grid-template-columns: repeat(2, 1fr);
        grid-gap: 12px;
        .catalog-item{
          width: 100%;
          cursor: pointer;
          color:  #fff;
          font-size: 17px;
          padding: 4px 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          .btn-remove--favorite{
            background-color: #ed5e68;
            border-radius: 8px;
            padding: 6px 18px;
            font-size: 15px;
            cursor: pointer;
          }
        }
        .info-item{
          text-indent: -1em;
          padding-left: 1em;
          line-height: 1.5;
        }
      }
      .tool-content{
        padding-left: 24px;
      }
    }
    .card-bottom{
      border-top: 2px solid #333;
      padding: 20px 30px;
      display: flex;
      justify-content: flex-end;
      .btn-add--favorite{
        background-color: #5cb85c;
        border-radius: 8px;
        padding: 6px 18px;
        font-size: 15px;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}
.input-group{
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  .input-name{
    @include unselect;
    flex: 0 0 auto;
    color: #fff;
    padding-bottom: 10px;
    font-size: 19px;
  }
  .input-group-content{
    @include unselect;
    flex: 0 0 auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: #fff;
    &.input-group-content--column{
      flex-direction: column;
      align-items: flex-start;
    }
    input{
      margin-right: 12px;
      cursor: pointer;
    }
    label{
      @include unselect;
      font-size: 18px;
      .v-value{
        margin-right: 5px;
      }
    }
    .input-group-column-item{
      flex: 0 0 auto;
      margin-bottom: 8px;
      margin-right: 20px;
      display: flex;
      align-items: center;
      &:last-child{
        margin-bottom: 0;
      }
      input{
        margin-right: 10px;
      }
      label{
        cursor: pointer;
      }
    }
  }
}
.section-modal-video {
  .modal-overlap-container {
    left: 0;
    position: fixed;
    z-index: 999988;
    display: block;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    max-height: 0;
    transition: opacity .3s;
    opacity: 0;
    background-color: rgba(0, 0, 0, .7);

    &.show {
      top: 0;
      max-height: 100vh;
      opacity: 1;
    }

    > .container {
      height: 100vh;
      display: flex;
      align-items: center;
      position: relative;
      width: 80vw;
      margin: 0 auto;

      .btn-close {
        position: absolute;
        z-index: 100;
        top: 3%;
        right: 2%;
        width: 4%;
        height: 4%;
        min-width: 40px;
        @media screen and (max-width: 767px) {
          width: 10%;
          height: 6%;
        }
        &:hover {
          cursor: pointer;

          .close-x {
            transition: stroke .3s;
            stroke: #f00;
          }
        }

        .close-x {
          stroke: #ffffff;
          fill: transparent;
          stroke-linecap: round;
          stroke-width: 2;
        }
      }

      .align-center {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        margin-left: auto;
        margin-right: auto;

        @media screen and (max-height: 750px) and (min-aspect-ratio: 17/9) {
          width: 100%*.8;
          padding-bottom: 56.25%*.8;
        }

        #player {
          @media screen and (max-width: 767px) {
            width: 100% !important;
            height: calc(52.625vw) !important;
            position: absolute !important;
          }
        }

        embed,
        iframe,
        object {
          left: 0 ;
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}